<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование работника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div th:insert="blocks/header :: header"></div>

<div>
    <h1>Редактирование работника</h1>
    <form  method="post">
        <input type="text" th:value="${worker.name}" name="name" placeholder="Введите имя работника"><br>
        <input type="text" th:value="${worker.payment}" name="payment" placeholder="Введите зарплату работника"><br>
        <button type="submit">Обновить</button>
    </form>
</div>


</body>
</html>